@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#f5f7f2;
}

.products{
    width:90%;
    margin:60px auto;
}

.products h1{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
    color:#222;
}

.product-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:30px;
}

.product-card{
    background:#fff;
    min-height: 480px;
    border-radius:25px;
    padding:20px;
    position:relative;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.4s;
    overflow:hidden;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.badge{
    position:absolute;
    left:18px;
    top:18px;
    background:#28a745;
    color:#fff;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
}

.icons{
    position:absolute;
    right:18px;
    top:18px;
}

.icons i{
    width:40px;
    height:40px;
    background:#f3f3f3;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.3s;
}

.icons i:hover{
    background:#28a745;
    color:#fff;
}

.product-card img{
    width:150px;
    height:150px;
    object-fit:contain;
    display:block;
    margin:20px auto 10px;
    transition:.4s;
}

.product-card:hover img{
    transform:scale(1.08);
}

.product-card h3{
    text-align:center;
    font-size:22px;
    margin-bottom:8px;
}

.unit{
    text-align:center;
    color:#666;
    margin-bottom:10px;
}

.product-card h2{
    text-align:center;
    color:#28a745;
    margin-bottom:20px;
}

.quantity{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.quantity button{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:#28a745;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}

.quantity span{
    font-size:20px;
    font-weight:600;
}

.cart-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:40px;
    background:#28a745;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.cart-btn:hover{
    background:#1e7e34;
}

@media(max-width:768px){

.products h1{
    font-size:32px;
}

.product-card img{
    width:150px;
    height:150px;
}

}