/*========================================
        TERMS & CONDITIONS
========================================*/

.terms{
    padding:100px 8%;
    background:#f8fff8;
}

.terms-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:50px;
}

.terms-card{
    background:#ffffff;
    padding:35px 25px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.terms-card:hover{
    transform:translateY(-10px);
}

.terms-card i{
    font-size:45px;
    color:var(--primary-color);
    margin-bottom:20px;
}

.terms-card h3{
    color:#222;
    margin-bottom:15px;
    font-size:22px;
}

.terms-card p{
    color:#666;
    line-height:28px;
}

/* Responsive */

@media(max-width:992px){

    .terms-container{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:576px){

    .terms{
        padding:70px 5%;
    }

    .terms-container{
        grid-template-columns:1fr;
    }

}
/* Terms Page - Dark Mode */

body.dark .terms{
    background: #181818;
}

body.dark .terms-card{
    background: #2a2a2a;
}

body.dark .terms-card h3{
    color: #fffffffff;
}

body.dark .terms-card p{
    color: #d1d5db;
}

body.dark .section-heading h2{
    color: #fffffffff;
}

body.dark .section-heading p{
    color: #d1d5db;
}

body.dark .section-heading span{
    color: var(--primary-color);
}